/**
 * Wordpress Cookies Popup Stylesheet
 * 
 * @version 1.0.8
 * @since 1.0.0
 */


#eu-cookie {
	background: #000;
	background: rgba(0,0,0,0.8);
	display: none;
	color: #fff;
	padding: 15px 20px;
	position: fixed;
		right: 7%;
		left: 7%;
	z-index: 3000;
	-webkit-transform: translateZ(0);
}

#eu-cookie.top {
	top: 0;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}

#eu-cookie.bottom {
	bottom: 0;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

#eu-cookie h3, #eu-cookie p {
	border: none;
	color: #fff;
}

#eu-cookie h3 {padding-top: 0;}

#eu-cookie a {color: #4279a6;}

#eu-cookie a:hover {color: #b2d9ff;}

#eu-cookie a.close-icon {
	float: right;
	font-size:14px;
	font-weight: 700;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	border:1px solid #da81f;
	padding:1px 5px;
	text-decoration:none;
	background: #fff;
	color:#4279a6;
	display:inline-block;
}

#eu-cookie a.close-icon:hover {
	color: #000;
	text-decoration: none;
}

#eu-cookie a.close-icon span {
	display: none;
	height: 0;
	visibility: none;
}

@media only screen and (max-width: 730px) {
	#eu-cookie {
		right: 0;
		left: 0;
	}

	#eu-cookie.top, #eu-cookie.bottom {
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
	}
}