/**
 * Wordpress Cookies Popup Stylesheet
 * 
 * @version 1.0.7
 * @since 1.0.0
 */


#eu-cookie {
	background: #000;
	background: rgba(0,0,0,0.8);
	/*display: none;*/
	color: #fff;
	padding: 15px 20px;
	position: fixed;
		right: 7%;
		left: 7%;
	z-index: 300;
	-webkit-transform: translateZ(0);
}

#eu-cookie.top {
	top: 0;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}

#eu-cookie.bottom {
	bottom: 0;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

#eu-cookie h3, #eu-cookie p {
	border: none;
	color: #fff;
}

#eu-cookie h3 {
	padding-top: 0;
}

#eu-cookie a {
	color: #4279a6;
}

#eu-cookie a:hover {
	color: #b2d9ff;
}

#eu-cookie .close-icon {
	background: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    color: #4279a6;
    cursor: pointer;
    display: inline-block;
	float:right;
	font-size: 31px;
    line-height: 0px;
	padding: 11px 1px 8px 1px;     
}

#eu-cookie .close-icon:hover {
	color: #b2d9ff;
}

#eu-cookie .close-icon span {
	display: none;
}

#eu-cookie .close-icon:before {
    content: "×";
}